<html ng-app="com.td.tdi.uapWeb" lang="en-CA"><head><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}.ng-animate-shim{visibility:hidden;}.ng-anchor{position:absolute;}</style>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable = no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-touch-fullscreen" content="yes">

		<title>TD Login</title>
		<link rel="stylesheet" href="https://authentication.td.com/uap-ui/resources/css/themes/uap-application-all-css.min-2291ca26e4663c96fd01edcae16c82f6.css">

		<link rel="stylesheet" href="https://authentication.td.com/uap-ui/resources/css/themes/uap-application-emerald-css.min-9b5c53a2288169f7698dff9d428d58e5.css">
		<link rel="icon" href="bower_components/td-emerald-standards/emerald/assets/img/favicon.ico">

	<body prevent-click-highlight="" autoscroll="" class="td-no-focus-outline">

		<div id="contentWrapper">

			<!-- Header -->
			<!----><div data-ui-view="header" class="" style=""><otp-header><div class="td_rq_header-nav td-header-nav" ng-show="!vm.hideHeaderAndFooterForMbna" aria-hidden="false">

    <!-- Desktop Header START -->
    <header class="td-header-desktop">
        <div class="td-nav-primary">
            <div class="td-container">
                <div class="td-section-left">
                    <div class="td-logo" style="margin-top: 15px;">
                        <img ng-show="!vm.mbna" ng-src="https://authentication.td.com/uap-ui/generated/styles/images/header-nav/td-logo.png" alt="TD Canada Trust" src="https://authentication.td.com/uap-ui/generated/styles/images/header-nav/td-logo.png" aria-hidden="false" class="">
                        <img ng-show="vm.mbna" ng-src="https://authentication.td.com/uap-ui/td-otp-web/assets/img-sapphire/MBNA_logo_white.svg" alt="LINKS.MBNA.MBNA_HOME_PAGE" src="https://authentication.td.com/uap-ui/td-otp-web/assets/img-sapphire/MBNA_logo_white.svg" aria-hidden="true" class="ng-hide">
                    </div>
                </div>
                <div class="td-section-right">
                    <div class="td-quick-access">
                        <ul class="td-header-nav-utilities">
                            <li ng-show="!vm.mbna &amp;&amp; !!vm.needLangToggle &amp;&amp; ($root.otpGenericConfig &amp;&amp; !!$root.otpGenericConfig.isLanguageToggleEnabled)" class="td-dropdown td-dropdown-language td-dropdown-no-hover ng-hide" aria-hidden="true">
                                <a href="" class="td-show-label" aria-haspopup="true" aria-expanded="false" id="td-desktop-nav-dropdown-link-0">
                                    <span class="td-forscreenreader">Select language</span>
                                    Français
                                    <span class="td-icon expand" aria-hidden="true"></span>
                                    <span class="td-icon collapse" aria-hidden="true"></span>
                                </a>
                                <ul class="td-dropdown-content" aria-labelledby="td-desktop-nav-dropdown-link-0">
                                    <!----><li ng-class="{'active': language==vm.dt.selectedLanguage}" ng-repeat="language in vm.dt.languages track by $index" class="active">
                                        <a href="" role="button" ng-click="vm.setLanguage(language)">
                                            English
                                            <!----><span ng-if="language==vm.dt.selectedLanguage" class="td-icon selected" aria-hidden="true">
                                            </span><!---->
                                            <!----><span ng-if="language==vm.dt.selectedLanguage" class="td-forscreenreader">Selected</span><!---->
                                        </a>
                                    </li><!----><li ng-class="{'active': language==vm.dt.selectedLanguage}" ng-repeat="language in vm.dt.languages track by $index">
                                        <a href="" role="button" ng-click="vm.setLanguage(language)">
                                            Français
                                            <!---->
                                            <!---->
                                        </a>
                                    </li><!---->
                                </ul>
                            </li>
                            <li class="secure-lock-position" aria-hidden="true">
                                <img src="../resources/td-lock-header.png" />
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Desktop Header END -->

    <!-- Mobile Header START -->
    <header class="td-header-mobile">
        <div class="td-container">
            <div class="td-section-left">
                <button ng-show="!vm.mbna" type="button" class="td-mobile-action-button td-mobile-menu-button" aria-hidden="false">
                    <div ng-show="!!vm.needLangToggle &amp;&amp; ($root.otpGenericConfig &amp;&amp; !!$root.otpGenericConfig.isLanguageToggleEnabled)" class="td-mobile-menu-button-icon ng-hide" aria-hidden="true">
                        <span class="td-forscreenreader">Open menu</span>
                        <span class="icon-bar" aria-hidden="true"></span>
                        <span class="icon-bar" aria-hidden="true"></span>
                        <span class="icon-bar" aria-hidden="true"></span>
                    </div>
                    <div class="td-logo">
                        <img ng-show="!vm.mbna" ng-src="https://authentication.td.com/uap-ui/generated/styles/images/header-nav/td-logo.png" alt="TD Canada Trust" src="https://authentication.td.com/uap-ui/generated/styles/images/header-nav/td-logo.png" aria-hidden="false" class="">
                    </div>
                </button>
                <div ng-show="!!vm.mbna" class="td-logo ng-hide" aria-hidden="true">
                    <img ng-src="https://authentication.td.com/uap-ui/td-otp-web/assets/img-sapphire/MBNA_logo_white.svg" alt="LINKS.MBNA.MBNA_HOME_PAGE" src="https://authentication.td.com/uap-ui/td-otp-web/assets/img-sapphire/MBNA_logo_white.svg">
                </div>
                <button ng-show="!vm.mbna" type="button" class="td-mobile-action-button td-mobile-back-button" onclick="history.back();" aria-hidden="false">
                    <div class="td-mobile-back-button-icon">
                        <span class="td-icon"></span>
                        <span class="td-forscreenreader">Back</span>
                    </div>
                    <div class="td-logo">
                        <img ng-src="https://authentication.td.com/uap-ui/generated/styles/images/header-nav/td-logo.png" alt="TD Canada Trust" src="https://authentication.td.com/uap-ui/generated/styles/images/header-nav/td-logo.png">
                    </div>
                </button>
            </div>
            <div class="td-section-right">
                <div class="secure-lock-position" aria-hidden="true">
                    <img src="../resources/td-lock-header.png" />
                </div>
            </div>
        </div>
    </header>
    <!-- Mobile Header END -->

    <!-- Mobile Off-canvas Menu START -->
    <div ng-show="!vm.mbna &amp;&amp; !!vm.needLangToggle &amp;&amp; ($root.otpGenericConfig &amp;&amp; !!$root.otpGenericConfig.isLanguageToggleEnabled)" class="td-nav-mobile ng-hide" aria-hidden="true">
        <!-- Primary mobile menu START -->
        <div class="td-nav-mobile-menu td-nav-mobile-menu-primary"><span tabindex="0"></span>
            <div class="td-nav-mobile-menu-top">
                <div class="td-nav-mobile-menu-header">
                    <div class="td-logo">
                        <img ng-show="!vm.mbna" ng-src="https://authentication.td.com/uap-ui/generated/styles/images/header-nav/td-logo.png" alt="TD Canada Trust" src="https://authentication.td.com/uap-ui/generated/styles/images/header-nav/td-logo.png" aria-hidden="false" class="">
                    </div>
                    <button ng-show="!vm.mbna" type="button" class="td-mobile-menu-close" aria-hidden="false">
                        <span class="td-forscreenreader">Close Menu</span>
                        <span class="td-icon" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            <nav ng-show="!vm.mbna" aria-hidden="false" class="">
                <ul class="td-nav-mobile-menu-list">
                    <li class="td-nav-mobile-menu-item td-item-toggle td-accordion td-accordion-language">
                        <a href="" aria-expanded="false" role="button">
                            <span class="td-forscreenreader">Select language</span>
                            Français
                            <span class="td-icon expand" aria-hidden="true"></span>
                            <span class="td-icon collapse" aria-hidden="true"></span>
                        </a>
                        <ul class="td-accordion-content">
                            <!----><li ng-class="{'active': language==vm.dt.selectedLanguage}" ng-repeat="language in vm.dt.languages track by $index" class="active">
                                <a href="" role="button" ng-click="vm.setLanguage(language)">
                                    English
                                    <!----><span ng-if="language==vm.dt.selectedLanguage" class="td-icon selected" aria-hidden="true">
                                    </span><!---->
                                    <!----><span ng-if="language==vm.dt.selectedLanguage" class="td-forscreenreader">Selected</span><!---->
                                </a>
                            </li><!----><li ng-class="{'active': language==vm.dt.selectedLanguage}" ng-repeat="language in vm.dt.languages track by $index">
                                <a href="" role="button" ng-click="vm.setLanguage(language)">
                                    Français
                                    <!---->
                                    <!---->
                                </a>
                            </li><!---->
                        </ul>
                    </li>
                </ul>
            </nav>
        <span tabindex="0"></span></div>
        <!-- Primary mobile menu END -->

        <div ng-show="!vm.mbna" class="td-nav-mobile-overlay" aria-hidden="false"></div>
    </div>
    <!-- Mobile Off-canvas Menu END -->

</div></otp-header></div>

			<!-- Main Content / Body -->
			<div class="td-contentarea" role="main" style="padding-top: 46px;">
				<!----><ui-view class="" style=""><challenge thread-matrix="::$resolve.threadMatrix"><!----><ui-view><login-template right-nav="::$resolve.rightNav" service-banner="::$resolve.serviceBanner" awareness="::$resolve.awareness" legal="::$resolve.legal" service-interruption="::$resolve.serviceInterruption" password-assistance="::$resolve.passwordAssistance" username-assistance="::$resolve.usernameAssistance" id-plus-lockout="::$resolve.idPlusLockout" lockout="::$resolve.lockout" username-access-card-list="::$resolve.usernameAccessCardList" device-print="::$resolve.devicePrint" device-info="::$resolve.deviceInfo" thread-matrix="::$resolve.threadMatrix" config="::$resolve.config"><section class="otp-login secure-login" ng-class="{'secure-login': !!vm.securekey, 'easy-web-broker': !!vm.easyweb || !!vm.webbroker}">

    <!---->

    <div class="td-container">

        <!-- LOB -->
        <div class="td-row">
            <div class="td-col-sm-6">
                <h1 class="co-brand-header secure-key" ng-class="{'secure-key': !!vm.securekey}" tabindex="0">Secure Login</h1>
            </div>
            <!----><div class="td-col-sm-6" ng-if="!!vm.securekey">
                <img class="co-brand-logo" ng-src="https://authentication.td.com/uap-ui/td-otp-web/assets/img/securekey-logo.png" src="https://authentication.td.com/uap-ui/td-otp-web/assets/img/securekey-logo.png">
            </div><!---->
        </div>

        <!----><br ng-if="!!vm.securekey" class="visible-xs"><!---->

        <!-- Service Msg Area -->
        <!---->

        <!-- Emergency banner -->
        <!---->

        <!-- Emergency banner -->
        <!---->

        <!-- Error messages -->
        <otp-server-error error="vm.dt.loginError" display="banner"><!----></otp-server-error>

        <!-- TODO: Secure Site Msg -->
        <!---->
        <!---->
        <!---->
        <!---->
        <!-- TODO: ? -->

        <div class="otp-box light-green hidden-xs otp-separate-right-nav" ng-class="{'otp-separate-right-nav': !!wcm_content.rightNav}">

            <div class="td-row">
                <div class="td-col-sm-6">

                    <!-- Login Form -->
                    <!---->
                    <!----><!----><div ng-if="!webbroker" ng-include="'td-otp-web/features/login/partials/form-sm-min.html'"><div class="otp-box-content">
    <login-form countries="$resolve.countries" thread-matrix="$resolve.threadMatrix" device-print="$resolve.devicePrint" device-info="$resolve.deviceInfo" username-access-card-list="$resolve.usernameAccessCardList"><form novalidate="" accessible-form="" name="loginForm" id="loginForm" ng-controller="otpFormCtrl" ng-init="loginForm.$setSubmitted()" class="ng-pristine ng-valid td_rq_form_legacy td-form td-form-validate td-form-dynamic">

    <div class="td-row">
        <div class="td-col-sm-12">

            <cards-selector cards="vm.dt.usernameAccessCardList" username="vm.dt.username" description="vm.dt.description" selected-card="vm.dt.selectedUser" on-change="vm.usernameChanged" on-delete-card="vm.openDeleteCardConfirmModal" error="vm.dt.usernameInlineError"><div class="form-group form-group-short">

    <label for="username100" id="card-selector-label100">Username or Access Card</label>

    <label for="selector-arrow" ng-show="!!vm.cards.length" class="td-forscreenreader ng-hide" aria-hidden="true">click to show more</label>

    <div class="cards-selector" ng-class="{'label-elements': !!vm.title}">

        <div class="editable-selector" ng-class="{'td-group-error': !!vm.error}">

            <div ng-show="!vm.cards.isEditMode &amp;&amp; (vm.cards.length >= 1)" aria-hidden="true" class="ng-hide">
                <label class="selector-button form-control hidden-xs" role="button" tabindex="0" aria-expanded="false" aria-describedby="card-selector-label100" data-ng-click="vm.showContext($event)" data-ng-keydown="vm.keyDown($event)">
                    <span ng-show="!!vm.selectedCard.description" aria-hidden="true" class="ng-hide"> - </span>
                </label>
                <label class="selector-button form-control visible-xs" role="button" tabindex="0" aria-expanded="false" aria-describedby="card-selector-label100" data-ng-click="vm.openCardSelectorModal()" data-ng-keydown="vm.openCardSelectorModal()">
                    <span ng-show="!!vm.selectedCard.description" aria-hidden="true" class="ng-hide"> - </span>
                </label>
            </div>

            <div ng-show="!!vm.cards.isEditMode || !vm.cards.length" aria-hidden="false" class="">
                <input type="text" id="username100" name="username" ng-change="vm.changeInput()" ng-model="vm.username" focus-me="!!vm.error" tabindex="2" autofocus="autofocus" autocomplete="off" aria-describedby="usrErrorMsg" aria-label="Username or Access Card" class="ng-pristine ng-untouched ng-valid form-control ng-empty" aria-invalid="false">
            </div>

            <div id="selector-arrow" ng-show="!!vm.cards.length" aria-hidden="true" class="ng-hide">
                <div class="selector-button over hidden-xs" role="button" tabindex="0" aria-expanded="false" aria-describedby="card-selector-label100" data-ng-click="vm.showContext($event, '.editable-selector')" data-ng-keydown="vm.keyDown($event, '.editable-selector')">
                    <span class="td-icon td-icon-downCaret"></span>
                    <span class="td-icon td-icon-upCaret"></span>
                </div>
                <div class="selector-button over visible-xs" role="button" tabindex="0" aria-expanded="false" aria-describedby="card-selector-label100" data-ng-click="vm.openCardSelectorModal()" data-ng-keydown="vm.openCardSelectorModal()">
                    <span class="td-icon td-icon-downCaret"></span>
                    <span class="td-icon td-icon-upCaret"></span>
                </div>
            </div>
        </div>

        <otp-server-error elem-id="usrErrorMsg" error="vm.error" display="label"><!----></otp-server-error>

        <div class="context left no-arrow selector-context hidden-xs">

            <label id="card-selector-list-label100" class="td-forscreenreader">
                Username or Access Card
            </label>

            <ul aria-labelledby="card-selector-list-label100" role="listbox">
                <!---->
                <li class="add-card-link">
                    <a role="link" class="td-link-standalone" href="" aria-label="Add Username" data-ng-click="vm.setEditMode();" standalone-link="Add Username">
    <span ng-bind-html="subText">Add</span>
    <span class="td-link-lastword">
        <span ng-bind-html="lastWord">Username</span>
        <span class="td-icon td-icon-rightCaret" aria-hidden="true"></span>
    </span>
</a>
                </li>
            </ul>

        </div>

    </div>

</div></cards-selector>

            <!---->

            <div class="td-group-touched" ng-class="{'td-group-error': !!vm.dt.passwordInlineError}">
                <div ng-class="{'td-group-touched': hasTouched, 'td-group-error': hasError &amp;&amp; isDirty,'ng-invalid': hasError, 'ng-dirty': isDirty, 'td-group-focus ng-focus': hasFocus, 'td-group-hover ng-hover': hasHover}" class="form-group-short td-group-touched form-group" td-ui-form-group="Password" style=""> <label id="labelWrap_243 " class="" for="password">Password</label><span aria-hidden="true" aria-describedby="labelWrap_243" bind-html-compile="help"></span> <div ng-transclude="" class="label-elements">
                    <input value="12345678" type="password" id="password" name="password" class="otp-always-show-error ng-pristine ng-untouched ng-valid form-control ng-empty" ng-change="vm.loginPwdChanged()" aria-describedby="pwdErrorMsg" autocomplete="off" tabindex="3" focus-me="!vm.dt.usernameInlineError &amp;&amp; (!!vm.dt.passwordInlineError || !!vm.parent.dt.loginError)" ng-model="password" aria-invalid="false">
                    <otp-server-error elem-id="pwdErrorMsg" error="vm.dt.passwordInlineError" display="label"><!----></otp-server-error>
                </div> </div>
            </div>

            <!----><div ng-if="!vm.dt.selectedUser &amp;&amp; (!$root.otpGenericConfig || !!$root.otpGenericConfig.isRememberMeEnabled)" class="td-checkbox-div-wrapper inline">
                <div class="td-checkbox-wrapper"><input type="checkbox" class="form-control ng-pristine ng-untouched ng-valid ng-empty" id="rememberMe1" name="rememberMe" tabindex="6" ng-model="rememberMe" aria-invalid="false"><label for="rememberMe1" class="card">Remember me</label></div>

            </div><!---->

            <div class="td-row">
                <div ng-class="{true: 'td-col-md-6', false: 'td-col-lg-7 td-col-md-8 td-col-sm-10'}[!!vm.parent.securekey]" class="td-col-md-6">
                    <div class="form-group">
										<img src="../resources/td-lock-login.png" />
										<a href="../../gckey-signin/MSCA-mainpage.html">
												<button type="submit" tabindex="4" class="td-button td-button-block td-button-secondary" data-ng-click="loginForm.$valid &amp;&amp; vm.login(loginForm)" data-ng-disabled="!!vm.dt.isLoading">
                            <span class="td-icon td-icon-secureBtn mbna-overide" aria-hidden="true"></span>
                            Login
                        </button>
												</a>
                    </div>
                </div>
                <!----><div ng-if="!!vm.parent.securekey" class="td-col-md-6">
                    <div class="form-group">
                        <button class="td-button td-button-block td-button-clear-green" ng-click="vm.cancel()">
                            Cancel
                        </button>
                    </div>
                </div><!---->
            </div>

        </div>
    </div>

</form>

</login-form>
    <!---->
    <!----><br ng-if="!!vm.securekey"><!---->
    <!----><div ng-if="!vm.myInsurance &amp;&amp; !vm.genericLogin &amp;&amp; !vm.mbna &amp;&amp; !vm.tdr">
        <div class="td-security-guarantee">
            <img src="../resources/td-lock-note.png" />
            <div class="td-security-guarantee-copy">
                <span class="td-small-copy" ng-bind-html="'LOGIN.SECURITY_GUARANTEE' | translate">TD Online and Mobile Security Guarantee</span>:
                <a role="link" class="td-small-copy td-link-standalone" standalone-link="You are protected" href="http://www.tdcanadatrust.com/products-services/banking/electronic-banking/access-card-security/guarantee.jsp">
    <span ng-bind-html="subText">You are</span>
    <span class="td-link-lastword">
        <span ng-bind-html="lastWord">protected</span>
        <span class="td-icon td-icon-rightCaret" aria-hidden="true"></span>
    </span>
</a>
            </div>
        </div>
    </div><!---->
</div></div><!---->

                </div>
                <div class="td-col-sm-6">

                    <!-- Right Nav -->
                    <div class="login-right-nav">
                        <!----><div ng-if="!!wcm_content.rightNav" compile="wcm_content.rightNav"><div class="otp-box-content">
    <h2>Description of Service</h2>
    <div class="td-row">
        <div class="td-col-sm-12">
            <p>TD Canada Trust is working with SecureKey Concierge to provide you with secure online access to trusted online services using your personal EasyWeb login ID and password.</p>
            <p>We are constantly developing new ways to help you manage your online transactions easily and securely.</p>
        </div>
    </div>
</div>

<div class="visible-xs otp-box-outside">

    <section class="otp-full-width otp-section-mobile-paddings">
        <div class="td-container">
            <div h2-expand-collapse="Description of Service">
    <h2 ng-init="isExpanded" class="otp-expand-collapse">
        <a ng-click="isExpanded=!isExpanded" tabindex="0" role="button" class="td-link-nounderline" aria-expanded="false">
<img src="../resources/plus-circle.png" />            <span class="black-label">Description of Service</span>
        </a>
    </h2>
    <div class="otp-expand-body ng-hide" aria-hidden="true" ng-show="!!isExpanded" ng-transclude="">
                <p>TD Canada Trust is working with SecureKey Concierge to provide you with secure online access to trusted online services using your personal EasyWeb login ID and password.</p>
                <p>We are constantly developing new ways to help you manage your online transactions easily and securely.</p>
            </div>
</div>
        </div>
    </section>

    <section class="otp-full-width td-fullwidth-gray">
        <div class="td-container">
            <h2 class="text-center-xs" ng-init="vm.dt.faqBlockCount=1">Frequently Asked Questions</h2>

            <!----><div ng-if="vm.dt.faqBlockCount>=1">
                <div h3-expand-collapse-custom-size="What do I do if I forget my EasyWeb password when logging in to this government services site?">
    <h3 ng-init="isExpanded" class="otp-expand-collapse">
        <a ng-click="isExpanded=!isExpanded" tabindex="0" role="button" class="td-link-nounderline otp-link-expand" aria-expanded="false">
<img src="../resources/plus-circle.png" />            <span class="grey-label-collapse">What do I do if I forget my EasyWeb password when logging in to this government services site?</span>
        </a>
    </h3>
    <div class="otp-expand-body ng-hide" aria-hidden="true" ng-show="!!isExpanded" ng-transclude="">
                    <p ng-bind-html="'LOGIN.FAQS_ANSWERS.FORGOT_PASSWORD' | translate">To reset password, please go to the <a href="https://easyweb.td.com/waw/idp/login.htm">EasyWeb login page</a> and follow the instructions to reset your password. For assistance, please call EasyLine telephone banking at 866-222-3456.</p>
                </div>
</div>
                <hr class="td-thin-divider-line-1" aria-hidden="true">

                <div h3-expand-collapse-custom-size="What do I do if my EasyWeb login doesn't work on this government site?">
    <h3 ng-init="isExpanded" class="otp-expand-collapse">
        <a ng-click="isExpanded=!isExpanded" tabindex="0" role="button" class="td-link-nounderline otp-link-expand" aria-expanded="false">
<img src="../resources/plus-circle.png" />            <span class="grey-label-collapse">What do I do if my EasyWeb login doesn't work on this government site?</span>
        </a>
    </h3>
    <div class="otp-expand-body ng-hide" aria-hidden="true" ng-show="!!isExpanded" ng-transclude="">
                    <p>If your personal EasyWeb login ID and password do not allow you to access this government site, please call SecureKey Concierge at 855-433-5397.</p>
                </div>
</div>
                <hr class="td-thin-divider-line-1" aria-hidden="true">

                <div h3-expand-collapse-custom-size="Can I use my TD Web Broker or TD Insurance credentials to login to this government site?">
    <h3 ng-init="isExpanded" class="otp-expand-collapse">
        <a ng-click="isExpanded=!isExpanded" tabindex="0" role="button" class="td-link-nounderline otp-link-expand" aria-expanded="false">
<img src="../resources/plus-circle.png" />            <span class="grey-label-collapse">Can I use my TD Web Broker or TD Insurance credentials to login to this government site?</span>
        </a>
    </h3>
    <div class="otp-expand-body ng-hide" aria-hidden="true" ng-show="!!isExpanded" ng-transclude="">
                    <p>No. At this time, the only TD login credentials that will work to access government services is your EasyWeb personal login ID and password.</p>
                </div>
</div>
                <hr class="td-thin-divider-line-1" aria-hidden="true">
            </div><!---->

            <!---->

            <!---->

            <!----><div ng-if="vm.dt.faqBlockCount<3">
                <p class="text-center">
                    <a role="button link" class="td-link-standalone" href="http://td.intelliresponse.com/en/securekey/?requestType=NormalRequest&amp;source=100&amp;id=1344&amp;question=secure+key" standalone-link-down-caret="Read more FAQs" ng-click="vm.dt.faqBlockCount = vm.dt.faqBlockCount + 1">
    <span ng-bind-html="subText">Read more</span>
    <span class="td-link-lastword">
        <span ng-bind-html="lastWord">FAQs</span>
        <span class="td-icon td-icon-downCaret" aria-hidden="true"></span>
    </span>
</a>
                </p>
            </div><!---->

        </div>
    </section>

</div>

<div class="hidden-xs otp-box-outside">

    <section class="otp-full-width faq-background">
        <div class="td-container">
            <h2 class="text-center-xs" ng-init="vm.dt.faqBlockCount=1">Frequently Asked Questions</h2>

            <!----><div ng-if="vm.dt.faqBlockCount>=1">
                <div h3-expand-collapse-custom-size="What do I do if I forget my EasyWeb password when logging in to this government services site?">
    <h3 ng-init="isExpanded" class="otp-expand-collapse">
        <a ng-click="isExpanded=!isExpanded" tabindex="0" role="button" class="td-link-nounderline otp-link-expand" aria-expanded="false">
<img src="../resources/plus-circle.png" />            <span class="grey-label-collapse">What do I do if I forget my EasyWeb password when logging in to this government services site?</span>
        </a>
    </h3>
    <div class="otp-expand-body ng-hide" aria-hidden="true" ng-show="!!isExpanded" ng-transclude="">
                    <p ng-bind-html="'LOGIN.FAQS_ANSWERS.FORGOT_PASSWORD' | translate">To reset password, please go to the <a href="https://easyweb.td.com/waw/idp/login.htm">EasyWeb login page</a> and follow the instructions to reset your password. For assistance, please call EasyLine telephone banking at 866-222-3456.</p>
                </div>
</div>
                <hr class="td-thin-divider-line-1" aria-hidden="true">

                <div h3-expand-collapse-custom-size="What do I do if my EasyWeb login doesn't work on this government site?">
    <h3 ng-init="isExpanded" class="otp-expand-collapse">
        <a ng-click="isExpanded=!isExpanded" tabindex="0" role="button" class="td-link-nounderline otp-link-expand" aria-expanded="false">
<img src="../resources/plus-circle.png" />            <span class="grey-label-collapse">What do I do if my EasyWeb login doesn't work on this government site?</span>
        </a>
    </h3>
    <div class="otp-expand-body ng-hide" aria-hidden="true" ng-show="!!isExpanded" ng-transclude="">
                    <p>If your personal EasyWeb login ID and password do not allow you to access this government site, please call SecureKey Concierge at 855-433-5397.</p>
                </div>
</div>
                <hr class="td-thin-divider-line-1" aria-hidden="true">

                <div h3-expand-collapse-custom-size="Can I use my TD Web Broker or TD Insurance credentials to login to this government site?">
    <h3 ng-init="isExpanded" class="otp-expand-collapse">
        <a ng-click="isExpanded=!isExpanded" tabindex="0" role="button" class="td-link-nounderline otp-link-expand" aria-expanded="false">
<img src="../resources/plus-circle.png" />            <span class="grey-label-collapse">Can I use my TD Web Broker or TD Insurance credentials to login to this government site?</span>
        </a>
    </h3>
    <div class="otp-expand-body ng-hide" aria-hidden="true" ng-show="!!isExpanded" ng-transclude="">
                    <p>No. At this time, the only TD login credentials that will work to access government services is your EasyWeb personal login ID and password.</p>
                </div>
</div>
                <hr class="td-thin-divider-line-1" aria-hidden="true">
            </div><!---->

            <!---->

            <!---->

            <!----><div ng-if="vm.dt.faqBlockCount<3">
                <p class="text-center">
                    <a role="button link" class="td-link-standalone" href="" standalone-link-down-caret="Read more FAQs" ng-click="vm.dt.faqBlockCount = vm.dt.faqBlockCount + 1">
    <span ng-bind-html="subText">Read more</span>
    <span class="td-link-lastword">
        <span ng-bind-html="lastWord">FAQs</span>
        <span class="td-icon td-icon-downCaret" aria-hidden="true"></span>
    </span>
</a>
                </p>
            </div><!---->

        </div>
    </section>

    <br>

</div>


</div><!---->
                    </div>

                </div>
            </div>

        </div>

    </div>

    <!-- Login Form -->
    <!---->
    <!----><!----><div ng-if="!vm.webbroker" class="visible-xs" ng-include="'td-otp-web/features/login/partials/form-xs.html'"><div class="td-container">
    <div class="otp-box-mobile light-green">
        <login-form countries="$resolve.countries" thread-matrix="$resolve.threadMatrix" device-print="$resolve.devicePrint" device-info="$resolve.deviceInfo" username-access-card-list="$resolve.usernameAccessCardList"><form novalidate="" accessible-form="" name="loginForm" id="loginForm" ng-controller="otpFormCtrl" ng-init="loginForm.$setSubmitted()" class="ng-pristine ng-valid td_rq_form_legacy td-form td-form-validate td-form-dynamic">

    <div class="td-row">
        <div class="td-col-sm-12">

            <cards-selector cards="vm.dt.usernameAccessCardList" username="vm.dt.username" description="vm.dt.description" selected-card="vm.dt.selectedUser" on-change="vm.usernameChanged" on-delete-card="vm.openDeleteCardConfirmModal" error="vm.dt.usernameInlineError"><div class="form-group form-group-short">

    <label for="username101" id="card-selector-label101">Username or Access Card</label>

    <label for="selector-arrow" ng-show="!!vm.cards.length" class="td-forscreenreader ng-hide" aria-hidden="true">click to show more</label>

    <div class="cards-selector" ng-class="{'label-elements': !!vm.title}">

        <div class="editable-selector" ng-class="{'td-group-error': !!vm.error}">

            <div ng-show="!vm.cards.isEditMode &amp;&amp; (vm.cards.length >= 1)" aria-hidden="true" class="ng-hide">
                <label class="selector-button form-control hidden-xs" role="button" tabindex="0" aria-expanded="false" aria-describedby="card-selector-label101" data-ng-click="vm.showContext($event)" data-ng-keydown="vm.keyDown($event)">
                    <span ng-show="!!vm.selectedCard.description" aria-hidden="true" class="ng-hide"> - </span>
                </label>
                <label class="selector-button form-control visible-xs" role="button" tabindex="0" aria-expanded="false" aria-describedby="card-selector-label101" data-ng-click="vm.openCardSelectorModal()" data-ng-keydown="vm.openCardSelectorModal()">
                    <span ng-show="!!vm.selectedCard.description" aria-hidden="true" class="ng-hide"> - </span>
                </label>
            </div>

            <div ng-show="!!vm.cards.isEditMode || !vm.cards.length" aria-hidden="false" class="">
                <input type="text" value="12345678" id="username101" name="username" ng-change="vm.changeInput()" ng-model="vm.username" focus-me="!!vm.error" tabindex="2" autofocus="autofocus" autocomplete="off" aria-describedby="usrErrorMsg" aria-label="Username or Access Card" class="ng-pristine ng-valid form-control ng-empty ng-untouched" aria-invalid="false" style="">
            </div>

            <div id="selector-arrow" ng-show="!!vm.cards.length" aria-hidden="true" class="ng-hide">
                <div class="selector-button over hidden-xs" role="button" tabindex="0" aria-expanded="false" aria-describedby="card-selector-label101" data-ng-click="vm.showContext($event, '.editable-selector')" data-ng-keydown="vm.keyDown($event, '.editable-selector')">
                    <span class="td-icon td-icon-downCaret"></span>
                    <span class="td-icon td-icon-upCaret"></span>
                </div>
                <div class="selector-button over visible-xs" role="button" tabindex="0" aria-expanded="false" aria-describedby="card-selector-label101" data-ng-click="vm.openCardSelectorModal()" data-ng-keydown="vm.openCardSelectorModal()">
                    <span class="td-icon td-icon-downCaret"></span>
                    <span class="td-icon td-icon-upCaret"></span>
                </div>
            </div>
        </div>

        <otp-server-error elem-id="usrErrorMsg" error="vm.error" display="label"><!----></otp-server-error>

        <div class="context left no-arrow selector-context hidden-xs">

            <label id="card-selector-list-label101" class="td-forscreenreader">
                Username or Access Card
            </label>

            <ul aria-labelledby="card-selector-list-label101" role="listbox">
                <!---->
                <li class="add-card-link">
                    <a role="link" class="td-link-standalone" href="" aria-label="Add Username" data-ng-click="vm.setEditMode();" standalone-link="Add Username">
    <span ng-bind-html="subText">Add</span>
    <span class="td-link-lastword">
        <span ng-bind-html="lastWord">Username</span>
        <span class="td-icon td-icon-rightCaret" aria-hidden="true"></span>
    </span>
</a>
                </li>
            </ul>

        </div>

    </div>

</div></cards-selector>

            <!---->

            <div class="td-group-touched" ng-class="{'td-group-error': !!vm.dt.passwordInlineError}">
                <div ng-class="{'td-group-touched': hasTouched, 'td-group-error': hasError &amp;&amp; isDirty,'ng-invalid': hasError, 'ng-dirty': isDirty, 'td-group-focus ng-focus': hasFocus, 'td-group-hover ng-hover': hasHover}" class="form-group-short td-group-touched form-group" td-ui-form-group="Password"> <label id="labelWrap_246 " class="" for="password">Password</label><span aria-hidden="true" aria-describedby="labelWrap_246" bind-html-compile="help"></span> <div ng-transclude="" class="label-elements">
                    <input value="************" type="password" id="password" name="password" class="otp-always-show-error ng-pristine ng-untouched ng-valid form-control ng-empty" ng-change="vm.loginPwdChanged()" aria-describedby="pwdErrorMsg" autocomplete="off" tabindex="3" focus-me="!vm.dt.usernameInlineError &amp;&amp; (!!vm.dt.passwordInlineError || !!vm.parent.dt.loginError)" ng-model="password" aria-invalid="false">
                    <otp-server-error elem-id="pwdErrorMsg" error="vm.dt.passwordInlineError" display="label"><!----></otp-server-error>
                </div> </div>
            </div>

            <!----><div ng-if="!vm.dt.selectedUser &amp;&amp; (!$root.otpGenericConfig || !!$root.otpGenericConfig.isRememberMeEnabled)" class="td-checkbox-div-wrapper inline">
                <div class="td-checkbox-wrapper"><input type="checkbox" class="form-control ng-pristine ng-untouched ng-valid ng-empty" id="rememberMe2" name="rememberMe" tabindex="6" ng-model="rememberMe" aria-invalid="false"><label for="rememberMe2" class="card">Remember me</label></div>

            </div><!---->

            <div class="td-row">
                    <div style="padding-top:10px;padding-left:15px;padding-right:15px;">

	                        <a tabindex="4" href="../../gckey-signin/MSCA-mainpage.html" class="td-button td-button-block td-button-secondary">
	                            Login
												</a>
                    </div>
                <!----><div ng-if="!!vm.parent.securekey" class="td-col-md-6">
                    <div class="form-group">
                        <button class="td-button td-button-block td-button-clear-green" ng-click="vm.cancel()">
                            Cancel
                        </button>
                    </div>
                </div><!---->
            </div>

        </div>
    </div>

</form>

</login-form>
        <!---->
        <!----><br ng-if="!!vm.securekey"><!---->
        <!----><div ng-if="!vm.myInsurance &amp;&amp; !vm.genericLogin &amp;&amp; !vm.mbna &amp;&amp; !vm.tdr">
            <div class="td-security-guarantee">
                <img src="../resources/td-lock-note.png" />
                <div class="td-security-guarantee-copy">
                    <span class="td-small-copy" ng-bind-html="'LOGIN.SECURITY_GUARANTEE' | translate">TD Online and Mobile Security Guarantee</span>:
                    <a role="link" class="td-small-copy td-link-standalone" standalone-link="You are protected" href="http://www.tdcanadatrust.com/products-services/banking/electronic-banking/access-card-security/guarantee.jsp">
    <span ng-bind-html="subText">You are</span>
    <span class="td-link-lastword">
        <span ng-bind-html="lastWord">protected</span>
        <span class="td-icon td-icon-rightCaret" aria-hidden="true"></span>
    </span>
</a>
                </div>
            </div>
        </div><!---->
    </div>
</div>
</div><!---->

</section>

<!-- Right Nav -->
<!----><section ng-if="!!wcm_content.rightNav" class="login-right-nav-xs">
    <!---->
    <!----><div ng-if="!!vm.securekey" compile="wcm_content.rightNav"><div class="otp-box-content">
    <h2>Description of Service</h2>
    <div class="td-row">
        <div class="td-col-sm-12">
            <p>TD Canada Trust is working with SecureKey Concierge to provide you with secure online access to trusted online services using your personal EasyWeb login ID and password.</p>
            <p>We are constantly developing new ways to help you manage your online transactions easily and securely.</p>
        </div>
    </div>
</div>

<div class="visible-xs otp-box-outside">

    <section class="otp-full-width otp-section-mobile-paddings">
        <div class="td-container">
            <div h2-expand-collapse="Description of Service">
    <h2 ng-init="isExpanded" class="otp-expand-collapse">
        <a ng-click="isExpanded=!isExpanded" tabindex="0" role="button" class="td-link-nounderline" aria-expanded="false">
            <img src="../resources/plus-circle.png" />
            <span class="black-label">Description of Service</span>
        </a>
    </h2>
    <div class="otp-expand-body ng-hide" aria-hidden="true" ng-show="!!isExpanded" ng-transclude="">
                <p>TD Canada Trust is working with SecureKey Concierge to provide you with secure online access to trusted online services using your personal EasyWeb login ID and password.</p>
                <p>We are constantly developing new ways to help you manage your online transactions easily and securely.</p>
            </div>
</div>
        </div>
    </section>

    <section class="otp-full-width td-fullwidth-gray">
        <div class="td-container">
            <h2 class="text-center-xs" ng-init="vm.dt.faqBlockCount=1">Frequently Asked Questions</h2>

            <!----><div ng-if="vm.dt.faqBlockCount>=1">
                <div h3-expand-collapse-custom-size="What do I do if I forget my EasyWeb password when logging in to this government services site?">
    <h3 ng-init="isExpanded" class="otp-expand-collapse">
        <a ng-click="isExpanded=!isExpanded" tabindex="0" role="button" class="td-link-nounderline otp-link-expand" aria-expanded="false">
            <img src="../resources/plus-circle.png" />
            <span class="grey-label-collapse">What do I do if I forget my EasyWeb password when logging in to this government services site?</span>
        </a>
    </h3>
    <div class="otp-expand-body ng-hide" aria-hidden="true" ng-show="!!isExpanded" ng-transclude="">
                    <p ng-bind-html="'LOGIN.FAQS_ANSWERS.FORGOT_PASSWORD' | translate">To reset password, please go to the <a href="https://easyweb.td.com/waw/idp/login.htm">EasyWeb login page</a> and follow the instructions to reset your password. For assistance, please call EasyLine telephone banking at 866-222-3456.</p>
                </div>
</div>
                <hr class="td-thin-divider-line-1" aria-hidden="true">

                <div h3-expand-collapse-custom-size="What do I do if my EasyWeb login doesn't work on this government site?">
    <h3 ng-init="isExpanded" class="otp-expand-collapse">
        <a ng-click="isExpanded=!isExpanded" tabindex="0" role="button" class="td-link-nounderline otp-link-expand" aria-expanded="false">
<img src="../resources/plus-circle.png" />            <span class="grey-label-collapse">What do I do if my EasyWeb login doesn't work on this government site?</span>
        </a>
    </h3>
    <div class="otp-expand-body ng-hide" aria-hidden="true" ng-show="!!isExpanded" ng-transclude="">
                    <p>If your personal EasyWeb login ID and password do not allow you to access this government site, please call SecureKey Concierge at 855-433-5397.</p>
                </div>
</div>
                <hr class="td-thin-divider-line-1" aria-hidden="true">

                <div h3-expand-collapse-custom-size="Can I use my TD Web Broker or TD Insurance credentials to login to this government site?">
    <h3 ng-init="isExpanded" class="otp-expand-collapse">
        <a ng-click="isExpanded=!isExpanded" tabindex="0" role="button" class="td-link-nounderline otp-link-expand" aria-expanded="false">
<img src="../resources/plus-circle.png" />            <span class="grey-label-collapse">Can I use my TD Web Broker or TD Insurance credentials to login to this government site?</span>
        </a>
    </h3>
    <div class="otp-expand-body ng-hide" aria-hidden="true" ng-show="!!isExpanded" ng-transclude="">
                    <p>No. At this time, the only TD login credentials that will work to access government services is your EasyWeb personal login ID and password.</p>
                </div>
</div>
                <hr class="td-thin-divider-line-1" aria-hidden="true">
            </div><!---->

            <!---->

            <!---->

            <!----><div ng-if="vm.dt.faqBlockCount<3">
                <p class="text-center">
                    <a role="button link" class="td-link-standalone" href="http://td.intelliresponse.com/en/securekey/?requestType=NormalRequest&amp;source=100&amp;id=1344&amp;question=secure+key" standalone-link-down-caret="Read more FAQs" ng-click="vm.dt.faqBlockCount = vm.dt.faqBlockCount + 1">
    <span ng-bind-html="subText">Read more</span>
    <span class="td-link-lastword">
        <span ng-bind-html="lastWord">FAQs</span>
        <span class="td-icon td-icon-downCaret" aria-hidden="true"></span>
    </span>
</a>
                </p>
            </div><!---->

        </div>
    </section>

</div>

<div class="hidden-xs otp-box-outside">

    <section class="otp-full-width faq-background">
        <div class="td-container">
            <h2 class="text-center-xs" ng-init="vm.dt.faqBlockCount=1">Frequently Asked Questions</h2>

            <!----><div ng-if="vm.dt.faqBlockCount>=1">
                <div h3-expand-collapse-custom-size="What do I do if I forget my EasyWeb password when logging in to this government services site?">
    <h3 ng-init="isExpanded" class="otp-expand-collapse">
        <a ng-click="isExpanded=!isExpanded" tabindex="0" role="button" class="td-link-nounderline otp-link-expand" aria-expanded="false">
<img src="../resources/plus-circle.png" />            <span class="grey-label-collapse">What do I do if I forget my EasyWeb password when logging in to this government services site?</span>
        </a>
    </h3>
    <div class="otp-expand-body ng-hide" aria-hidden="true" ng-show="!!isExpanded" ng-transclude="">
                    <p ng-bind-html="'LOGIN.FAQS_ANSWERS.FORGOT_PASSWORD' | translate">To reset password, please go to the <a href="https://easyweb.td.com/waw/idp/login.htm">EasyWeb login page</a> and follow the instructions to reset your password. For assistance, please call EasyLine telephone banking at 866-222-3456.</p>
                </div>
</div>
                <hr class="td-thin-divider-line-1" aria-hidden="true">

                <div h3-expand-collapse-custom-size="What do I do if my EasyWeb login doesn't work on this government site?">
    <h3 ng-init="isExpanded" class="otp-expand-collapse">
        <a ng-click="isExpanded=!isExpanded" tabindex="0" role="button" class="td-link-nounderline otp-link-expand" aria-expanded="false">
<img src="../resources/plus-circle.png" />            <span class="grey-label-collapse">What do I do if my EasyWeb login doesn't work on this government site?</span>
        </a>
    </h3>
    <div class="otp-expand-body ng-hide" aria-hidden="true" ng-show="!!isExpanded" ng-transclude="">
                    <p>If your personal EasyWeb login ID and password do not allow you to access this government site, please call SecureKey Concierge at 855-433-5397.</p>
                </div>
</div>
                <hr class="td-thin-divider-line-1" aria-hidden="true">

                <div h3-expand-collapse-custom-size="Can I use my TD Web Broker or TD Insurance credentials to login to this government site?">
    <h3 ng-init="isExpanded" class="otp-expand-collapse">
        <a ng-click="isExpanded=!isExpanded" tabindex="0" role="button" class="td-link-nounderline otp-link-expand" aria-expanded="false">
<img src="../resources/plus-circle.png" />            <span class="grey-label-collapse">Can I use my TD Web Broker or TD Insurance credentials to login to this government site?</span>
        </a>
    </h3>
    <div class="otp-expand-body ng-hide" aria-hidden="true" ng-show="!!isExpanded" ng-transclude="">
                    <p>No. At this time, the only TD login credentials that will work to access government services is your EasyWeb personal login ID and password.</p>
                </div>
</div>
                <hr class="td-thin-divider-line-1" aria-hidden="true">
            </div><!---->

            <!---->

            <!---->

            <!----><div ng-if="vm.dt.faqBlockCount<3">
                <p class="text-center">
                    <a role="button link" class="td-link-standalone" href="" standalone-link-down-caret="Read more FAQs" ng-click="vm.dt.faqBlockCount = vm.dt.faqBlockCount + 1">
    <span ng-bind-html="subText">Read more</span>
    <span class="td-link-lastword">
        <span ng-bind-html="lastWord">FAQs</span>
        <span class="td-icon td-icon-downCaret" aria-hidden="true"></span>
    </span>
</a>
                </p>
            </div><!---->

        </div>
    </section>

    <br>

</div>


</div><!---->
</section><!---->

<!-- Marketing Msg OAS -->
<div class="oas-marketing-ad">
    <!---->
</div>

<!-- Awareness Msg -->
<!---->

<!-- Legal -->
<!---->

<preloader ng-show="!!vm.dt.isLoading" aria-hidden="true" class="ng-hide"><div class="otp-preloader">
    <div class="loading-spinner big loading-spinner-indeterminate">
        <svg svg-theme="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1000 1000">
            <defs>
                <linearGradient id="loading-circle-gradient" x1="0" y1="500" x2="1000" y2="500" gradientUnits="userSpaceOnUse">
                    <stop offset="0" stop-color="#008a00"></stop>
                    <stop offset="1" stop-color="#1a5336"></stop>
                </linearGradient>
            </defs>
            <title>Loading spinner</title>
            <g class="loading-big">
                <path class="loading-circle" d="M960,500c0,254.05-205.95,460-460,460S40,754.05,40,500,245.95,40,500,40,960,245.95,960,500" style="fill: none;stroke-linecap: round;stroke-linejoin: round;stroke-width: 80px;stroke: url(#loading-circle-gradient)"></path>
            </g>
            <g class="loading-small">
                <path class="loading-circle" d="M960,500c0,254.05-205.95,460-460,460S40,754.05,40,500,245.95,40,500,40,960,245.95,960,500" style="fill: none;stroke-linecap: round;stroke-linejoin: round;stroke-width: 80px;stroke: url(#loading-circle-gradient)"></path>
            </g>
        </svg>
    </div>
</div></preloader></login-template></ui-view>
</challenge></ui-view>
			</div>

			<!-- Footer -->
			<!----><div data-ui-view="footer" class=""><otp-footer><footer class="td-background-dark-green" ng-show="!vm.hideHeaderAndFooterForMbna" aria-hidden="false" style="left: 0px; right: 0px; bottom: 0px; position: static;">

    <!---->

    <div class="td-container">

        <div class="td-row">
            <!----><div class="td-col-xs-12 td-footer-content otp-footer-content" ng-if="!vm.mbna">

                <div class="td-footer-links td-copy-align-centre td-copy-white">

                    <a class="td-copy-white td-link-nounderline td-copy-standard" target="_blank" href="https://www.td.com/privacy-and-security/privacy-and-security/index.jsp">
                        Privacy and Security
                    </a>

                    <a class="td-copy-white td-link-nounderline td-copy-standard" target="_blank" href="https://www.td.com/to-our-customers/">
                        Legal
                    </a>

                    <a class="td-copy-white td-link-nounderline td-copy-standard" target="_blank" href="http://www.tdcanadatrust.com/customer-service/accessibility/accessibility-at-td/index.jsp">
                        Accessibility
                    </a>

                </div>

            </div><!---->
            <!---->
        </div>

    </div>

</footer>
</otp-footer></div>

		</div>

		<!--[if lt IE 9]>
		<![endif]-->



<div id="ads"></div><script src="https://authentication.td.com//nexus.ensighten.com/tdb/secure-uap/Bootstrap.js"></script><iframe src="about:blank" id="tmx_tags_iframe" title="empty" aria-disabled="true" aria-hidden="true" style="width: 100px; height: 100px; border: 0px; position: absolute; top: -5000px;"></iframe></body></html>
